[submodule "FPGA-UART"]
	path = FPGA-UART
	url = git@github.com:WangXuan95/FPGA-UART.git
[submodule "de10lite-hdl"]
	path = de10lite-hdl
	url = git@github.com:hildebrandmw/de10lite-hdl.git
[submodule "common_cells"]
	path = common_cells
	url = git@github.com:pulp-platform/common_cells.git
[submodule "basics-graphics-music"]
	path = basics-graphics-music
	url = git@github.com:chipdesignschool/basics-graphics-music.git
