[submodule "FPGA-UART"]
	path = FPGA-UART
	url = https://github.com/WangXuan95/FPGA-UART.git
[submodule "de10lite-hdl"]
	path = de10lite-hdl
	url = https://github.com/hildebrandmw/de10lite-hdl
[submodule "common_cells"]
	path = common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "basics-graphics-music"]
	path = basics-graphics-music
	url = https://github.com/chipdesignschool/basics-graphics-music.git
